<footer class="py-8 bg-slate-800 text-white">
    <div class="container">
        <div class="gh-foot-menu">
            {{navigation}}
        </div>
        <hr class="border-t border-t-white/20 w-full my-4" />
        <span>
            &copy; Copyright 2022 - Safety Magazine Africa
        </span>

    </div>
</footer>