{{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} text-green-600 font-bold{{/if}} inline-block mr-4 uppercase text-base"><a href="{{url absolute="true"}}">{{label}}</a></li>
{{/foreach}}