<div class="bg-slate-800 p-4 rounded">
    <h4 class="text-xl text-white mb-4">Subscribe and recieve exclusive news and
        insights in your inbox.</h4>
    <a href="#/portal/signup">
        <div
            class="bg-white px-4 py-3 text-gray-600 text-base rounded mb-2"
        >Enter your name</div>
        <div
            class="bg-white px-4 py-3 text-gray-600 text-base rounded mb-2"
        >Enter your email</div>
        <div
            class="bg-green-600 py-2 text-white text-base rounded text-center"
        >Subscribe</div>
    </a>
</div>