<section class="bg-slate-800 py-4">
    <div class="container flex flex-wrap justify-between items-center">
        <div class="w-full md:w-[35%]">
            <img
                src="{{asset 'img/writer.svg'}}"
                alt="writer"
                class="w-full h-auto"
            />
        </div>
        <div class="w-full md:w-[60%] text-white">
            <h3 class="text-4xl font-bold mb-4">Write for Us</h3>
            <p class="text-lg text-white/80 mb-4">
                Are you a seasoned proffesional in the safety industry, or a
                writer. Get your ideas in front of thousands of readers. Click
                the link below to get started.
            </p>
            <button class="px-4 py-2 bg-green-600 text-base rounded hover:ring">
                Become a Columnst
            </button>
        </div>
    </div>
</section>